<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lifemap">
    <!--android:versionCode="2"-->
    <!--android:versionName="2.1.0"-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.hardware.camera2.full"/>

    <uses-feature android:name="android.hardware.camera" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_myself"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated ="true"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
            <activity android:name=".CreateNewPin" android:label="@string/actionbar_createPins"></activity>
            <activity android:name=".EditPins" android:label="@string/actionbar_showPins"></activity>
            <activity android:name=".EditActivity" android:label="@string/actionbar_editPins"></activity>
            <activity android:name=".EditSearch" android:label="@string/actionbar_editSearch"></activity>
            <activity android:name=".ShowMapActivity" android:label="@string/actionbar_showMap"></activity>
            <activity android:name=".BackupAndRestoreActivity" android:label="備分/還原"></activity>
            <activity android:name=".ExportCsvActivity" android:label="輸出Csv檔案"></activity>
            <activity android:name=".MainActivity" android:label="主頁"></activity>
            <activity android:name=".WelcomeActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
            <activity android:name=".Camera2Activity"></activity>
        <!--
         The API key for Google Maps-based APIs is defined as a string resource.
         (See the file "res/values/google_maps_api.xml").
         Note that the API key is linked to the encryption key used to sign the APK.
         You need a different API key for each encryption key, including the release key that is used to
         sign the APK for publishing.
         You can define the keys for the debug and release targets in src/debug/ and src/release/.
    -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" /> <!-- Google Service Version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Google Map Api Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API.KEY"
            android:value="@string/google_maps_key" /> <!-- Map Element -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.lifemap.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path"/>
        </provider>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>